<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <%- messages() %>


<form id="addInventory" action="/inv/add-inventory" method="post">
    <div class="form-container">
      <p Class="pass-word"> ALL FIELDS ARE REQUIRED </p>
      <div class="form-row">
        <label for="classificationName">Classification</label>
        <%- list %>
        </div>
        <div class="form-row">
            <label for="invMake">Make</label>
            <input type="text" id="invMake" name="inv_make" placeholder="Min of 3 characters" required value="<%= locals.inv_make %>">
            </div>
        <div class="form-row">
            <label for="invModel">Model</label>
            <input type="text" id="invModel" name="inv_model" placeholder="Min of 3 characters" required value="<%= locals.inv_model %>">
            </div>
        <div class="form-row">
            <label for="invDescription">Description</label>
            <textarea id="invDescription" name="inv_description" required value="<%= locals.inv_description %>"> </textarea>
            <!-- <input type="text" id="invDescription" name="inv_description" required>     -->
            </div>
        <div class="form-row">
            <label for="invImage">Image Path</label>
            <input type="text" id="invImage" name="inv_image" value="/images/vehicles/no-image.png" required >
            </div>
        <div class="form-row">
            <label for="invThumbnail">Thumbnail Path</label>
            <input type="text" id="invThumbnail" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png" required >
            </div>
        <div class="form-row">
            <label for="invPrice">Price</label>
            <input type="text" id="invPrice" name="inv_price" placeholder="decimal or integer" required value="<%= locals.inv_price %>">
            </div>
        <div class="form-row">
            <label for="invYear">Year</label>
            <input type="text" id="invYear" name="inv_year" placeholder="4 digit year" required value="<%= locals.inv_year %>">
            </div>
        <div class="form-row">
            <label for="invMiles">Miles</label>
            <input type="text" id="invMiles" name="inv_miles" placeholder="digits only" required value="<%= locals.inv_miles %>">
            </div>
        <div class="form-row">
            <label for="invColor">Color</label>
            <input type="text" id="invColor" name="inv_color" required value="<%= locals.inv_color %>">
            </div>
        <input type="submit" value="Add Vehicle">
    </form>
    
    </div>