<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <%- messages() %>


<form id="deleteForm" action="/inv/delete" method="post">
    <div class="form-container">
      <p Class="pass-word"> CAUTION: The deletion of data is permanent.</p>
        <div class="form-row">
            <label for="invMake">Make</label>
            <input readonly type="text" id="invMake" name="inv_make" placeholder="Min of 3 characters" required value="<%= locals.inv_make %>">
            </div>
        <div class="form-row">
            <label for="invModel">Model</label>
            <input readonly type="text" id="invModel" name="inv_model" placeholder="Min of 3 characters" required value="<%= locals.inv_model %>">
            </div>
        <div class="form-row">
            <label for="invPrice">Price</label>
            <input readonly type="text" id="invPrice" name="inv_price" placeholder="decimal or integer" required value="<%= locals.inv_price %>">
            </div>
        <div class="form-row">
            <label for="invYear">Year</label>
            <input readonly type="text" id="invYear" name="inv_year" placeholder="4 digit year" required value="<%= locals.inv_year %>">
            </div>
        
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>

        <button  type="submit">Delete</button>
    </form>
    
    </div>

    